<extend name="Public:base" />

<block name="body">

    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">

                <div class="ibox-title">
                    <h5>购货单</h5>
                </div>

                <form action="" method="post" class="form-horizontal ajax-form" id="commentForm" >
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">供应商：</label>
                                <div class="col-sm-8">
                                    {:W('Public/getBusiness',array('input_name'=>'bus_id','type'=>'2'))}
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">单据日期：</label>
                                <div class="col-sm-8">
                                    <input type="date" class="input-sm form-control" name="bill_date" placeholder="单据日期" value="{:date('Y-m-d')}">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">购货人：</label>
                                <div class="col-sm-8">
                                    {:W('Public/getPurSaleUser',array('input_name'=>'pur_sale_id'))}
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">单据编号：</label>
                                <div class="col-sm-8">
                                    <input type="hidden" name="bill_no" value="{$bill_no}">
                                    <span class="input-sm form-control">{$bill_no}</span>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="hr-line-dashed" style="margin: auto;"></div>

                    <div class="table-responsive goods-table-list">
                        <table class="table ">
                            <thead>
                            <tr>
                                <th>
                                    <a href="{:U('getGoods')}" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#goods-modal" title="添加商品">new</a>
                                    <!--<a href="javascript:void(0)" class="btn btn-primary btn-xs add-row"title="添加商品">new</a>-->
                                </th>
                                <th>商品</th>
                                <th>单位</th>
                                <th>仓库</th>
                                <th>数量</th>
                                <th>购货单价</th>
                                <th>折扣率(%)</th>
                                <th>折扣额</th>
                                <th>购货金额</th>
                                <th>备注</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                                <!--<tr id="tr_1" data-sort="1">
                                    <td>1<input type="hidden" name="data[0][goods_id]" value="" class="input-sm form-control"></td>
                                    <td>
                                        <input type="text" name="data[0][goods_name]" value="" class="input-sm form-control">
                                    </td>
                                    <td>
                                        <input type="text" name="data[0][unit]" value="" class="input-sm form-control">
                                    </td>
                                    <td>
                                        <input type="text" name="data[0][storage_house]" value="" class="input-sm form-control">
                                    </td>
                                    <td>
                                        <input type="text" name="data[0][qty]" value="" class="input-sm form-control">
                                    </td>
                                    <td>
                                        <input type="text" name="data[0][price]" value="" class="input-sm form-control">
                                    </td>
                                    <td>
                                        <input type="text" name="data[0][discount_rate]" value="" class="input-sm form-control">
                                    </td>
                                    <td>
                                        <input type="text" name="data[0][deduction]" value="" class="input-sm form-control">
                                    </td>
                                    <td>
                                        <input type="text" name="data[0][amount]" value="" class="input-sm form-control">
                                    </td>
                                    <td>
                                        <input type="text" name="data[0][memo]" value="" class="input-sm form-control">
                                    </td>
                                    <td>
                                        <a href="javascript:void(0)" class="btn btn-warning btn-xs del-row" title="删除行">删除</a>
                                    </td>
                                </tr>-->
                            </tbody>
                        </table>
                    </div>

                    <div class="hr-line-dashed" style="margin: auto;"></div>

                    <div class="row">
                        <div class="col-sm-12">
                            <textarea class="input-sm form-control" style="width: 98%; margin-left: 1%;" name="memo" placeholder="备注信息"></textarea>
                        </div>
                    </div>

                    <div class="hr-line-dashed"></div>

                    <div class="row">

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="col-sm-5 control-label">购货总金额：</label>
                                <div class="col-sm-7">
                                    <input type="text" name="total_amount" value="0.00" class="input-sm form-control set-amount">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="col-sm-5 control-label">优惠率(%)：</label>
                                <div class="col-sm-7">
                                    <input type="text" name="dis_rate" value="0" class="input-sm form-control set-amount">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="col-sm-5 control-label">优惠金额：</label>
                                <div class="col-sm-7">
                                    <input type="text"  name="dis_amount" placeholder="" class="input-sm form-control set-amount" value="0.00">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="col-sm-5 control-label">优惠后金额：</label>
                                <div class="col-sm-7">
                                    <input type="hidden" class="input-sm form-control set-amount" name="amount" placeholder="" value="">
                                    <span class="input-sm form-control">0.00</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="col-sm-5 control-label">本次付款：</label>
                                <div class="col-sm-7">
                                    <input type="text" class="input-sm form-control" name="rp_amount" placeholder="" value="0.00">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="col-sm-5 control-label">结算账户：</label>
                                <div class="col-sm-7">
                                    {:W('Public/getAccount',array('input_name'=>'acc_id'))}
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="col-sm-5 control-label">本次欠款：</label>
                                <div class="col-sm-7">
                                    <input type="hidden" class="input-sm form-control" name="arrears" placeholder="" value="">
                                    <span class="input-sm form-control">0.00</span>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="hr-line-dashed" style="margin: auto;"></div>

                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="col-sm-5 control-label">制单人：</label>
                                <div class="col-sm-7">
                                    <span class="input-sm form-control">{:session('user_auth.nickname')}</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                </form>
            </div>
        </div>

    </div>

    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="goods-modal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">


                <div class="modal-body">
                    <p>One fine body&hellip;</p>
                </div>

            </div>
        </div>
    </div>


</block>

<block name="style">

</block>

<block name="script">
    <script>
        $(function () {

            /**
             * 删除行
             */
           $(".goods-table-list").on("click", ".del-row", function () {

               sort = $(this).parent().parent().attr('data-sort');

               $("#tr_"+sort + " :input").attr("readonly", "readonly");

               $("#tr_"+sort).addClass("divider");

               $("input[name='rp_amount']").val('0.00');

               MyInv.countTotalAmount();

               MyInv.countRpAmount();

           });

            /**
             * 设置总体 金额
             */
            $(".set-amount").change(function () {

                $("input[name='rp_amount']").val('0.00');

                MyInv.countTotalAmount();

                MyInv.countRpAmount();
            });

            /**
             * 设置每行的金额 数量 折扣
             */
            $(".goods-table-list").on("change", ".set-row-amount", function () {

                $("input[name='rp_amount']").val('0.00');

                i = $(this).parent().parent().attr("data-sort") - 1;

                MyInv.countRowAmount(i);

                MyInv.countTotalAmount();

                MyInv.countRpAmount();
            });

            /**
             * 设置付款金额
             */
            $("input[name='rp_amount']").change(function () {
                MyInv.countRpAmount();
            });


        });

        var MyInv = new Object();


        /**
         * 重新排序
         */
        MyInv.setSort = function (){
            $(".goods-table-list .table tbody tr").each(function (i, n) {
                sort = i + 1;
                $(n).children().eq(0).text(sort);
                $(n).attr('data-sort', sort);
                $(n).attr('id', 'tr_'+sort);
            });
        };

        /**
         * 添加一行商品
         */
        MyInv.addRow = function (data) {

            prev_sort = $(".goods-table-list tbody tr").length;

            next_sort = prev_sort + 1;

            html = '<tr id="tr_'+next_sort+'" data-sort="'+next_sort+'">';
                html += '<td>'+next_sort+'</td>';
                html += '<td>';
                    html += '<input type="hidden" name="data['+prev_sort+'][goods_id]" value="'+data[0]+'" class="input-sm form-control">';
                    html += '<input type="text" name="data['+prev_sort+'][goods_name]" value="'+data[1]+'" class="input-sm form-control">';
                html += '</td>';
                html += '<td>';
                    html += '<input type="text" name="data['+prev_sort+'][unit]" value="'+data[2]+'" class="input-sm form-control">';
                html += '</td>';
                html += '<td>';
                    html += '<input type="text" name="data['+prev_sort+'][storage_house]" value="'+data[3]+'" class="input-sm form-control">';
                html += '</td>';
                html += '<td>';
                    html += '<input type="text" name="data['+prev_sort+'][qty]" value="'+data[4]+'" class="input-sm form-control set-row-amount">';
                html += '</td>';
                html += '<td>';
                    html += '<input type="text" name="data['+prev_sort+'][price]" value="'+data[5]+'" class="input-sm form-control set-row-amount">';
                html += '</td>';
                html += '<td>';
                    html += '<input type="text" name="data['+prev_sort+'][discount_rate]" value="'+data[6]+'" class="input-sm form-control set-row-amount">';
                html += '</td>';
                html += '<td>';
                    html += '<input type="text" name="data['+prev_sort+'][deduction]" value="'+data[7]+'" class="input-sm form-control set-row-amount">';
                html += '</td>';
                html += '<td>';
                    html += '<input type="text" name="data['+prev_sort+'][amount]" value="'+data[8]+'" class="input-sm form-control">';
                html += '</td>';
                html += '<td>';
                    html += '<input type="text" name="data['+prev_sort+'][memo]" value="'+data[9]+'" class="input-sm form-control">';
                html += '</td>';
                html += '<td>';
                    html += '<a href="javascript:void(0)" class="btn btn-warning btn-xs del-row" title="删除行">删除</a>';
                html += '</td>';
            html += '</tr>';

            $(".goods-table-list tbody").append(html);
        };

        /**
         * 设置整体金额
         */
        MyInv.countTotalAmount = function () {
            total_amount = 0;
            $(".goods-table-list tbody tr").each(function (i, n) {
                money = $(n).children("td").eq(8).children("input[name='data["+i+"][amount]']").val();

                total_amount = accAdd( total_amount , money );
            });

            $("input[name='total_amount']").val(total_amount);

            //  折扣率
            dis_rate = $("input[name='dis_rate']").val() / 100;

            //  折扣金额
            dis_amount = accMul( total_amount , dis_rate );
            $("input[name='dis_amount']").val( dis_amount );

            //  优惠后金额
            amount = Subtr( total_amount, dis_amount );
            $("input[name='amount']").val( amount );
            $("input[name='amount']").next().text( amount );
        };


        /**
         * 设置单个商品金额
         */
        MyInv.countRowAmount = function (i) {

            qty = $("input[name='data["+i+"][qty]']").val();

            price = $("input[name='data["+i+"][price]']").val();

            discount_rate = $("input[name='data["+i+"][discount_rate]']").val() / 100;

            amount = accMul( price , qty );

            deduction = accMul( amount, discount_rate );

            $("input[name='data["+i+"][deduction]']").val( deduction );

            amount = Subtr( amount, deduction );
            $("input[name='data["+i+"][amount]']").val( amount );
        };

        /**
         * 这是 付款 和欠款金额
         */
        MyInv.countRpAmount = function () {

            amount =  $("input[name='amount']").val();

            rp_amount = $("input[name='rp_amount']").val();

            arrears = Subtr(rp_amount, amount);

            $("input[name='arrears']").val( arrears );
            $("input[name='arrears']").next().text(arrears);
        }

    </script>
</block>